#tiles {
    position: absolute;
    background-color: #0005;
    padding: 10px;
    z-index: 100;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow: hidden;
    background-color: #333;
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
}

#canvasC {
    display: flex;
}

#canvas {
    background-color: gray;
    image-rendering: crisp-edges;
    transition: width 2s ease, height 2s linear;
    flex-grow: 1;
}

#fpsCounter {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 20px;
    color: white;
}

#fpsCounter::before {
    content: "FPS: ";
}

.uiText {
    position: absolute;
    top: 0;
    margin-top: 0px;
    margin-bottom: 0px;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;

}

.uiText * {
    font-size: 45px;
    color: white;
    -webkit-text-stroke: black 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.coin,
.heart {
    height: 50px;
    width: 50px;
}

.close-sidebar {
    position: absolute;
    z-index: 1001;
    right: 18px;
    top: 18px;
    width: 32px;
    height: 32px;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.close-sidebar.active {
    opacity: 0.5;
}

.close-sidebar.active:hover {
    opacity: 1;
}

.close-sidebar:before,
.close-sidebar:after {
    position: absolute;
    right: 16px;
    content: ' ';
    height: 33px;
    width: 4px;
    background-color: #00290e;
}

.close-sidebar:before {
    transform: rotate(45deg);
}

.close-sidebar:after {
    transform: rotate(-45deg);
}

#sidebar {
    width: 30vw;
    position: absolute;
    height: 100vh;
    right: -31vw;
    background-color: #006122;
    transition: 0.3s ease-in-out;
    z-index: 100;
}

#sidebar.open {
    right: 0;
}

.sidebar-header {
    font-size: 40px;
    display: block;
    margin: 10px 15px;
    color: white;
}

.tower-option {
    background-color: #333;
    border: #00290e 3px outset;
    margin: 10px;
    padding: 10px;
    color: white;

}

.topt-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-areas:
        "price price piercing"
        "stats stats2 image"
        "build build build";
}

.topt-current-container {
    display: grid;
    align-content: baseline;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "stats stats2 piercing";
}

div {
    display: block;
}

.topt-header {
    font-size: 1.8rem;
}

.topt-desc {
    color: #00bd42;
    font-size: 1rem;
    display: block;
    margin: 0.3rem 0;
}

.topt-cost {
    display: flex;
    align-items: center;
    height: min-content;
    font-size: 1.6rem;
    grid-area: price;
}

.topt-price-icon {
    height: 1.8rem;
    margin-right: 2px;
}

.topt-piercing {
    display: flex;
    align-items: center;
    height: min-content;
    font-size: 1rem;
    grid-area: piercing;
}

.topt-pierce-icon {
    height: 1.5rem;
    margin-right: 0.2rem;
}

.topt-stats {
    grid-area: stats;
}

.topt-stats-2 {
    grid-area: stats2;
}

.topt-stats,
.topt-stats-2 {
    display: flex;
    flex-direction: column;
}

.topt-stats-header {
    color: #00bd42;
    font-size: 0.7rem;
}

.topt-img-container {
    grid-area: image;
    display: flex;
    padding: 0.2rem;
}

.topt-img {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 1;
}

.topt-stats-2 .topt-stat-icon {
    height: 1.2rem;
}

.topt-stat {
    font-size: 1rem;
    display: flex;
    align-items: center;
    margin: 0.1rem 0;
}

.topt-stat-icon {
    height: 1.3rem;
    margin-right: 0.2rem;
}

.topt-build {
    grid-area: build;
    width: 100%;
    background-color: #00bd42;
    color: white;
    font-size: 1.5rem;
    border: #006122 3px inset;
}

.topt-build:active {
    background-color: #009f38;
    border: #006122 outset;
}