#tiles{
    position: absolute;
    background-color: #0005;
    padding: 10px;
    z-index: 100;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow: hidden;
    background-color: #333;
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
}
#canvas{
    background-color: gray;
    image-rendering: crisp-edges;
}
.uiText{
    position: absolute;
    top: 0;
    margin-top: 0px;
    margin-bottom: 0px;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;

}
.uiText * {
    font-size: 45px;
    color: white;
    -webkit-text-stroke: black 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.coin, .heart {
    height: 50px;
    width: 50px;
}

#sidebar{
    width: 30vw;
    position: absolute;
    height: 100vh;
    right: 0;
    background-color: #006122;
}
.tower-option{
    display: grid;
    background-color: #333;
    border: #00290e 3px outset;
    margin: 10px;
    padding: 10px;
    color: white;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.7fr 1fr 3fr 1fr;
    grid-template-areas: 
    "header header header"
    "desc desc desc"
    "price price piercing"
    "stats stats2 image"
    "build build build";
}
.topt-header {
    font-size: 30px;
    grid-area: header;
}
.topt-desc {
    color: #00bd42;
    font-size: 14px;
    grid-area: desc;
}
.topt-cost {
    display: flex;
    align-items: center;
    height: min-content;
    font-size: 16px;
    grid-area: price;
}
.topt-price-icon {
    height: 22px;
    margin-right: 2px;
}
.topt-piercing {
    display: flex;
    align-items: center;
    height: min-content;
    font-size: 14px;
    grid-area: piercing;
}
.topt-pierce-icon {
    height: 20px;
    margin-right: 2px;
}
.topt-stats {
    grid-area: stats;
}
.topt-stats-2 {
    grid-area: stats2;
}
.topt-stats, .topt-stats-2 {
    display: flex;
    flex-direction: column;
}
.topt-stats-header {
    color: #00bd42;
    font-size: 14px;
}
.topt-img {
    grid-area: image;
}
.topt-stats-2  .topt-stat-icon{
    height: 18px;
}
.topt-stat {
    font-size: 20px;
    display: flex;
    align-items: center;
    margin: 1px 0;
}
.topt-stat-icon {
    height: 20px;
    margin-right: 2px;
}
.topt-build {
    grid-area: build;
    width: 100%;
    background-color: #00bd42;
    color: white;
    font-size: 20px;
    border: #006122 3px inset;
}
.topt-build:active {
    background-color: #009f38;
    border: #006122 outset;
}